<div class="showcase-wrap">
    <div class="top-line">
        <div class="top-line__element">
            <img src="assets\images\loupe.png" alt="Loupe">
        </div>
        <div class="top-line__element">
            <img src="assets\images\off on.png" alt="Off icon">
        </div>
        <div class="top-line__element">
            <img src="assets\images\apple logo.png" alt="Apple">
        </div>
        <div class="top-line__element">
            <img src="assets\images\basket.png" alt="Basket">
        </div>
        <div class="top-line__element">
            <img src="assets\images\lock.png" alt="Lock">
        </div>
        <div class="top-line__element">
            <img src="assets\images\star.png" alt="Star">
        </div>
    </div>
    <div class="showcase-content-wrap">
        <div class="showcase-content">
            <div class="laptop-wrap">
                <img src="assets\images\laptop.png" alt="laptop">
            </div>
            <div class="showcase-buying">
                <div class="title">
                    <h1>MY APPS SHOWCASE</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                </div>
                <div class="buy-section">
                    <button>
                        <img class="icon" src="assets/images/shopping.png" alt="Buy">
                        <p>Buy now</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>