.wrap {
    display: flex;
    flex-direction: row;
    
}

.banner-cover {
    width: 100%;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 130px;
    background: linear-gradient(100deg, 
        hsl(var(--hue-start), 100%, 24%) 10%,
        hsl(var(--hue-finish), 85%, 43%) 80%);
}

.device-select-panel {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.device-select-panel__button {
    height: 33.3333%;
    background-color: hsl(var(--hue-start), 100%, 24%);
    cursor: pointer;
    border: none;
}

.content {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 120px;
    color: white;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.label img {
    height: 60px;
    margin-right: 10px;
}

.title {
    margin: 45px 0 30px 0;
}

.title h1,h3 {
    margin: 0;
}

.title h1 {
    margin-bottom: 20px;
}

.buy-section button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    background-color: hsl(var(--hue-start), 60%, 60%);
    cursor: pointer;
}

.buy-section button img {
    background-color: hsl(var(--hue-start), 45%, 35%);
    padding: 8px 10px 8px 10px;
}

.buy-section button p {
    padding: 10px;
    margin: 0 8px 0 8px;
    color: white;
    font-size: 20px;
}

.phone-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-cover img {
    z-index: 5;
}

.circle {
    position: absolute;
	/* background: red; */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#circle-1 {
    background: linear-gradient(to right bottom, 
    hsl(calc(var(--hue-start) - 3),94%,28%),
    hsl(calc(var(--hue-finish) + 3),90%,36%));
    width: 440px;
	height: 440px;
}
#circle-2 {
    background: linear-gradient(to right bottom, 
    hsl(calc(var(--hue-start) - 5),94%,32%),
    hsl(calc(var(--hue-finish) + 5),86%,37%));
    width: 380px;
	height: 380px;
}
#circle-3 {
    background: hsl(calc(var(--hue-start) - 7), 81%, 40%);
    width: 320px;
	height: 320px;
}