<div class="banner-cover">
    <div class="phone-cover">
        <img src="assets/images/iphone.png" alt="Phone image">
        <div class="circle" id="circle-1"></div>
        <div class="circle" id="circle-2"></div>
        <div class="circle" id="circle-3"></div>
    </div>
    <div class="content">
        <span class="label">
            <img src="assets/images/planet.png" alt="Planet image">
            <p>APP OF <br> THE YEAR</p>
        </span>
        <span class="title">
            <h1>MY APPS SHOWCASE</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
        </span>
        <span class="buy-section">
            <button>
                <img class="icon" src="assets/images/shopping.png" alt="Buy">
                <p>Buy now</p>
            </button>
        </span>
    </div>
</div>