:root {
    --hue-start: 100;
    --hue-finish: calc(var(--hue-start) - 12);
    transition-property: var(--hue-start);
    transition-duration: 500ms;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

